/tire-service/*.rbc
/tire-service/capybara-*.html
/tire-service/db/*.sqlite3
/tire-service/db/*.sqlite3-journal
/tire-service/db/*.sqlite3-[0-9]*
/tire-service/public/system
/tire-service/coverage/
/tire-service/spec/tmp
/tire-service/*.orig
/tire-servicererun.txt
/tire-service/pickle-email-*.html

# Ignore all logfiles and tempfiles.
/tire-service/log/*
/tire-service/tmp/*
!/tire-service/log/.keep
!/tire-service/tmp/.keep

# TODO Comment out this rule if you are OK with secrets being uploaded to the repo
/tire-service/config/initializers/secret_token.rb
/tire-service/config/master.key

# Only include if you have production secrets in this file, which is no longer a Rails default
# config/secrets.yml

# dotenv
# TODO Comment out this rule if environment variables can be committed
/tire-service/.env

## Environment normalization:
/tire-service/.bundle
/tire-service/vendor/bundle

# these should all be checked in to normalize the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
/tire-service/.rvmrc

# if using bower-rails ignore default bower_components path bower.json files
/tire-service/vendor/assets/bower_components
/tire-service/*.bowerrc
/tire-service/bower.json

# Ignore pow environment settings
/tire-service/.powenv

# Ignore Byebug command history file.
/tire-service/.byebug_history

# Ignore node_modules
/tire-service/node_modules/

# Ignore precompiled javascript packs
/tire-service/public/packs
/tire-service/public/packs-test
/tire-service/public/assets

# Ignore yarn files
/tire-service/yarn-error.log
/tire-service/yarn-debug.log*
/tire-service/.yarn-integrity

# Ignore uploaded files in development
/tire-service/storage/*
!/tire-service/storage/.keep
