//- %w(16 32 48 64 128 160 192).each do |s|
  //= favicon_link_tag(asset_pack_path("media/src/front/images/favicon_#{s}.png"), rel: "shortcut icon", type: "image/png", sizes: "#{s}x#{s}")

meta name="apple-mobile-web-app-title" content="Банк Открытие"
meta name="application-name" content="Банк Открытие"
meta name="msapplication-TileColor" content="#00b4e3"
meta name="msapplication-TileImage" content="apple-touch-icon-144x144.png"
meta name="theme-color" content="#ffffff"
