.btn-group role="group" aria-label="Basic mixed styles example"
  = link_to I18n.t('cocoon.defaults.show'), model, method: :get, class: "btn btn-primary"
  = link_to I18n.t('cocoon.defaults.edit'), edit_path_for(model), method: :get, class: "btn btn-warning"
  = link_to I18n.t('cocoon.defaults.remove'), model, method: :delete, class: "btn btn-danger"
