= render "layouts/admin/meta"

title = page_title

javascript:
  var CKEDITOR_BASEPATH = "/assets/ckeditor/";

= javascript_include_tag "admin/application", "data-turbolinks-track": true
= render "layouts/admin/assets"

= csrf_meta_tags
